*{ margin:0; padding: 0; }
html,body{ font-size: 100%; }
ul{ list-style: none; }
a{ text-decoration:none; }
.header{ background:#000000; padding:2em 0; position:relative;}
.logo{ position:absolute; top:0; left:10%;}
.navigation{ width:70%; float:right;}
ul.navig{ padding:0; width: 65%; float: left; margin-top: 10px;}
ul.navig li{ display: inline-block; margin:0 10px;}
ul.navig li a{ text-transform:uppercase; font-size:1em; color:#fff; font-weight:700;}
ul.navig li a:hover{ color:#ff7105; }
.search-bar{ width:35%;float:right; }
.search-bar input[type="text"]{ width:70%; padding:10px; border:0;background:#4fbfa8; margin: 0 -4px 0 0; display: inline-block; outline: none; vertical-align: middle; color:#fff;}
.search-bar input[type="submit"]{ width:20%;padding:10px; background:#ff7105 url(../images/search.png) no-repeat 15px; outline:none; border:0; display: inline-block; vertical-align: middle;}
.banner{ background:url(../images/banner.jpg) no-repeat; background-size:cover; min-height:650px;}
.banner-bot{ padding:4em 0; text-align:center; }
.banner-bot h2{ font-size:4em; font-weight:700; color:#000; margin:0em 0 0.5em 0; }
.banner-bot p{ font-size:1.1em; font-weight:500; color:#000; line-height:1.8em; margin:0 0 0.5em;}
.banner-bot p:nth-of-type(2){ font-weight:100; font-size:0.875em; margin-bottom:2em;}
.banner-bot a{ font-size:2em; text-transform:uppercase; font-weight:700; color:#000;}
nav a , ul.navig a{ position: relative; display: inline-block; margin: 0px 0px 10px; outline: none; color: #fff; text-decoration: none; text-transform: uppercase; letter-spacing: 1px;font-weight: 400; text-shadow: 0 0 1px rgba(255,255,255,0.3); font-size: 1.35em;}
nav a:hover, ul.navig a:hover,{ outline: none;}
.cl-effect-3 a { padding: 8px 0;}
.gallery{ background:#4fbfa8; padding:2em 0; text-align:center;}
.gallery h3{ font-size:4em; font-weight:700; color:#fff ;margin:0em 0 0.5em 0;}
.b-link-stripe{ position:relative; display:inline-block; vertical-align:top; font-family: 'Open Sans', sans-serif;font-weight: 300; overflow:hidden;}
.b-link-stripe .b-wrapper{ position:absolute ;width:100%; height:100%; top:0; left:0; text-align:center; color:#ffffff; overflow:hidden;}
.b-link-stripe .b-line{ position:absolute;top:0; bottom:0; width:20%; background:rgba(15, 207, 140, 0.9); transition:all 0.5s linear; opacity:0; visibility:hidden; }
.b-animate-go{ text-decoration:none;}
.b-animate{ transition: all 0.5s; visibility: hidden; font-size:1.1em; font-weight:700;}
.b-animate img{ margin-top:16%; display: inline-box;}
.b-animate-go:hover .b-animate{ visibility:visible;}
.b-from-left{ position:relative; left:-100%;}
.b-animate-go:hover .b-from-left{ left:0;}
span.m_4{ font-size:14px; font-weight:400;}
p.m_5 { margin: 2% auto 5%; width: 70%; color: #283A47; font-size: 1.1em; font-weight: 600; line-height: 1.5em; text-align: center;}
ul#filters { padding: 0px; margin:1em 0;}
.team{ background:#fff; padding:0 0 9% 0;}
.col_1_of_4:first-child { margin-left: 0;}
.span_1_of_4 { width: 22.8%;}
.col_1_of_4 { display: block; float: left;margin: 1% 0 1% 2.6%; background: #FFF;}
.b-link-stripe:hover .b-line{ visibility:visible;}
.b-link-stripe .b-line1{ left:0;}
.b-link-stripe .b-line2{ left:20%; transition-delay:0.1s;}
.b-link-stripe .b-line3{ left:40%; transition-delay:0.2s;}
.b-link-stripe .b-line4{ left:60%;transition-delay:0.3s;}
.b-link-stripe .b-line5{ left:80%;transition-delay:0.4s;}
#filters  {margin: 3% 0;padding: 0; list-style: none; text-align: center;}
#filters li { display: -webkit-inline-box; margin:0 10px;}
#filters li span { display: block;padding: 10px 20px; text-decoration: none;color: #fff; cursor: pointer; font-size:1.5em; font-weight: 400; text-transform:uppercase; border:2px solid #fff; border-radius: 50%;}
#filters li span.active { background:none; color: #ff7105; border:none; border:2px solid #ff7105;}
#portfoliolist .portfolio { width: 30%; margin: 2% 2% 0 0; display:none; float:left; overflow:hidden;}
div#portfoliolist { padding: 10px 0px;}
.portfolio.app.mix_all { width: 55%!important;}
.portfolio.icon.mix_all { width: 39%!important; margin-right: 0!important;}
.portfolio.logos.mix_all { width: 42%!important;}	
.portfolio.card.mix_all { width: 25%!important;}
.portfolio-wrapper { overflow:hidden; position: relative; cursor:pointer;}
.portfolio img { max-width:100%; transition: all 300ms;}
.portfolio .label {	position: absolute;	width: 100%; height:40px; bottom:-40px;}
.portfolio .label-bg { background: #22B4B8; width: 100%; height:100%; position: absolute; top:0; left:0; }
.portfolio .label-text { color:#fff; position: relative; z-index:500; padding:5px 8px; }
.portfolio .text-category { display:block; font-size:9px; font-size: 12px; text-transform:uppercase;}
.b-wrapper:hover { background: rgba(255, 113, 5, 0.47); transition: 0.5s all;}
.video-serch{ background:url(../images/vid-bg.jpg) no-repeat; background-size:cover; padding:4em 0;}
.vid-col p{ font-size:1.2em; font-weight:500; font-style:italic; color:#fff; line-height:1.8em; margin:0.5em 0;}
.vid-col p:nth-of-type(2){ font-style:normal; font-size:0.875em; font-weight:100; margin:1em 0;}
.more{ margin:2em 0;}
.more a{ font-size:0.875em; color:#fff; background:#ff7105; padding:10px 15px; font-weight:500; }
.more a:hover{ background:#4fbfa8; text-decoration:none; }
.vid-coll{ position:relative; }
.play-but{ position:absolute; top:40%; left:40%;}
.vid-coll img{ width:100%;}
.what-new{ padding:2em 0 4em; text-align:center;}
.what-new h3{ font-size:4em; font-weight:700; color:#000; margin:0.5em 0;}
.blog-news{ border-bottom:1px solid rgba(60, 58, 62, 0.19); padding:0;}
.blog-news-grid{ padding:2em; border-right:1px solid rgba(60, 58, 62, 0.19); width:50%; float:left; text-align:left;}
.news-grid-left{ width:40%; margin-right:2%; float:left;}
.news-grid-right{ width:57%; float:left;}
.news-grid-left h4{ font-weight:500; color:#3c3a3e; font-size:10em; margin:-24px 0 -18px; }
.news-grid-left small{ font-size:1em; color:#3c3a3e; font-weight: 100; font-style: italic; padding-left:20px;}	
.news-grid-right h4{ font-size:1.3em; font-weight:500; color:#3c3a3e; margin:0 0 0.5em 0;}
.news-grid-right p{ font-size:1em; font-weight:100; color:#3c3a3e; line-height:1.6em;}
.b_n_g{ margin-right:0; border-right:0;}
.b_n{ border-bottom:0;}
.footer{ padding:2em 0;text-align:center; border-top:10px solid #3c3a3e;}
.footer ul{ padding:0; margin:1em 0 0.5em 0;}
.footer ul li{ display:inline-block; margin:0 5px;}
.footer ul li i{ width:70px;height:70px; background:url(../images/social-icons.png) no-repeat; display:inline-block; cursor:pointer;}
.footer ul li i:hover{ opacity:0.5; }
.footer ul li i.fa{ background-position:0px 0px;}
.footer ul li i.fb{ background-position:-70px 0px;}
.footer ul li i.fc{ background-position:-142px 0px;}




.games{ padding:4em 0 2em;}
.page-path{ margin:0.5em 0 1em;}
.page-path p{ font-size:1em; font-weight:300; color:#000; float:right;}
ul.path-list{ padding:0; float:left;}
ul.path-list li{ display: inline-block; font-size:1em; font-weight:300; color:#000;}
ul.path-list li a:hover, .page-path p a:hover{ color:#4fbfa8; text-decoration: none;}
ul.path-list li.act{ color:#ff7105;}
h3.page-header{ font-size:1.2em; color:#ff7105; font-weight:500; margin:0.5em 0 1em; text-transform:uppercase;}
.main{ width:85%; float:left;}
.side-bar{ width:15%; float:left; padding:10px 0; background: aliceblue;}
.side-bar h4{ font-size:1.1em; text-transform:uppercase; font-weight: 500; text-align:center; margin: 0 0 1em;}
ul.game-list{ padding:0; margin:0.5em 0; }
ul.game-list li{ display:block;}
ul.game-list li a{ font-size:0.875em; color:#3c3a3e; font-weight:100; padding:0.2em 1em 0.5em; border-bottom:1px solid #3c3a3e; display:block; text-transform:uppercase;}
ul.game-list li a:hover{ color:#ff7105; text-decoration: none;}
.view { width: 300px; height: 200px; margin: 10px; float: left; border: 10px solid #fff; overflow: hidden; position: relative; text-align: center; box-shadow: 1px 1px 2px #e6e6e6; cursor: default; background: #fff url(../images/bgimg.jpg) no-repeat center center;}
.view .mask,.view .content { width: 300px; height: 200px; position: absolute; overflow: hidden; top: 0; left: 0;}
.view img { display: block; position: relative;}
.view h2 { text-transform: uppercase; color: #fff; text-align: center; position: relative; font-size: 17px; padding: 10px; background: rgba(0, 0, 0, 0.8); margin: 20px 0 0 0;}
.view p { font-family: Georgia, serif; font-style: italic; font-size: 12px; position: relative; color: #fff; padding: 10px 20px 20px; text-align: center;}
.view a.info { display: inline-block; text-decoration: none; padding: 7px 14px; background: #000; color: #fff; text-transform: uppercase; box-shadow: 0 0 1px #000; }
.view a.info: hover { box-shadow: 0 0 5px #000;}
.view-first img { transition: all 0.2s linear;}
.view-first .mask { opacity: 0; background-color: rgba(219,127,8, 0.7); transition: all 0.4s ease-in-out;}
.view-first h2 { transform: translateY(-100px); opacity: 0; transition: all 0.2s ease-in-out;}
.view-first p { transform: translateY(100px); opacity: 0; transition: all 0.2s linear;}
.view-first:hover img { transform: scale(1.1,1.1);}
.view-first a.info { opacity: 0; transition: all 0.2s ease-in-out;}
.view-first:hover .mask { opacity: 1;}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info { text-decoration: none; opacity: 1; transform: translateY(0px);}
.view-first:hover p { transition-delay: 0.1s;}
.view-first:hover a.info { text-decoration: none; transition-delay: 0.2s;}

