@charset "utf-8";
/* CSS Document */
.hide{display: none;}
.banner .shang{ height:476px;}
.banner .list{ border-left:1px solid #b61d1d; width:209px; height:466px; background:#c81623; float:left; position: relative;}
.banner .list li{position:relative;}
.banner .list h3{ height:31px; line-height:31px; font-weight:normal; font-size:14px; color:#fff; padding:0 10px; width:170px; overflow:hidden;}
.banner .list h3 a{ color:#fff;}
.banner .list i{ height:31px; line-height:31px; font-size:12px; font-family:consolas; color:#fff; position:absolute; top:0;right:13px;}
.banner .list li.ac{ background:#f7f7f7;}
.banner .list li.ac i{ display:none;}
.banner .list li.ac a{ color:#b61d1d;}
.banner .channel_list{ background:#f7f7f7; border:1px solid #b61d1d; width:959px; height:425px; position:absolute; left:209px; top:0; padding:20px; display:none; z-index:20;}
.banner .channel_list .title{ width:710px; height:24px; overflow:hidden;}
.banner .channel_list .title a{ display:block; float:left; background:#7c7171; height:24px; line-height:24px; font-size:12px; color:#fff; padding:0 31px 0 7px; margin-right:10px; position:relative;}
.banner .channel_list .title a i{ width:23px; height:22px; background:#5c5251;text-align:center; line-height:22px; font-size:12px;font-family:Consolas; position:absolute; right:0; bottom:0;}
.banner .channel_list .title a:hover{ background:#c81623;}
.banner .channel_list .title a:hover i{ background:#b1191a;}
.banner .channel_list .text{ padding-top:6px;}
.banner .channel_list .text1 dt{ float:left; width:84px;}
.banner .channel_list .text1 dt a{ font-size:12px; font-weight:bolder; height:31px; line-height:31px; padding-top:5px; text-align:right;display:block; padding-right:30px; position:relative; width:54px; overflow:hidden; white-space:nowrap; color: #626262;}
.banner .channel_list .text1 dt i{ position:absolute; right:17px; top:5px;}
.banner .channel_list .text1 dt a:hover{ color:#c81623;}
.banner .channel_list .text1 dt a:hover i{ color:#c81623;}
.banner .channel_list .text1 dd{ float:left; width:64px; padding:10px 0 2px 0; border-bottom:1px solid #eee;}
.banner .channel_list .text1 dd a{ display:block; float:left; font-size:12px; height:16px; line-height:16px; padding:0 8px; border-left:1px solid #e0e0e0; margin-bottom:8px; white-space:nowrap; color: #626262;}
.banner .channel_list .text1 dd a:hover{ color:#c81623;}

.banner .slide { float:left;margin:12px 10px 0 10px;width:730px;height:454px;font-size:0; overflow:hidden; position:relative;}
.banner .slide ul{ position: absolute; top: 0; left: 0;}
.banner .slide ul li{ width: 730px; height: 454px; position:absolute; top:0; left:0;}
.banner .slide ul img{ width: 730px; height: 454px;}
.banner .sliderBtn{ position: absolute;  bottom: 8px; z-index: 10; left:300px;}
.banner .sliderBtn a{ margin-right: 4px; width:18px; height:18px; cursor: pointer; color: #fff; font-family: arial; font-size: 12px; background:#3e3e3e; border-radius:50%; text-align:center; line-height:18px; display: inline-block;}
.banner .sliderBtn .activeSlide{ font-weight: bold;  background: #b61b1f;}
.banner .pic li{ width:730px; height:454px; float:left; padding-left:10px;}
.banner .text{ float:right; width:250px;}
.banner .text .news{ border:1px solid #e4e4e4;height:163px; overflow:hidden;}
.banner .text .news .title{ height:32px;padding:0 15px;border-bottom:1px dotted #e8e8e7;}
.banner .text .news .title h3{ font-size:15px; font-weight:normal; line-height:32px; float:left; color:#666666;}
.banner .text .news .title a{ font-size:12px; float:right; line-height:32px;}
.banner .text .news .title a:hover{ color:#b61d1d;}
.banner .text .news ul{ padding:5px 15px 0 15px;}
.banner .text .news li{ height:24px; width:228px; overflow:hidden; }
.banner .text .news li a{ display:block; line-height:24px; font-size:12px; font-family:"宋体"; color:#666666;}
.banner .text .news li span{ font-weight:bolder; padding-right:5px;}
.banner .text .news li a:hover{ color:#b61d1d;}
.banner .text .icon{ width:248px; height:208px; border:1px solid #e4e4e4; border-top:none; overflow:hidden; }
.banner .text .icon ul{ width:252px}
.banner .text .icon li{ border-bottom:1px solid #e4e4e4; border-right:1px solid #e4e4e4; float:left;}
.banner .text .icon li a{ display:block; width:62px; height:70px; text-align:center; position:relative; color:#666; z-index:1;}
.banner .text .icon li a:hover{ color:#b61d1d;}
.banner .text .icon li i{ display:block; width:25px; height:25px; background:url(../images/icon1.png) no-repeat left top; position:absolute; left:18px; top:13px;}
.banner .text .icon li span{ display:block; padding-top:40px; height:30px; line-height:30px; font-size:14px;}
.banner .text .icon .icon2 i{ background-position:left -25px;} 
.banner .text .icon .icon3 i{ background-position:left -50px;} 
.banner .text .icon .icon4 i{ background-position:left -75px;} 
.banner .text .icon .icon5 i{ background-position:left -100px;} 
.banner .text .icon .icon6 i{ background-position:left -125px;} 
.banner .text .icon .icon7 i{ background-position:left -150px;} 
.banner .text .icon .icon8 i{ background-position:left -175x;} 
.banner .text .icon .icon9 i{ background-position:left -250px;} 
.banner .text .icon .icon10 i{ background-position:left -200px;} 
.banner .text .icon .icon11 i{ background-position:left -275px;} 
.banner .text .icon .icon12 i{ background-position:left -225px;} 
.banner .text .pic{ padding-top:5px; width:250px; height:75px; float:right;}
.banner .xia{ height:159px;}
.banner .xia a{ float:left; padding-right:1px;}
.banner .xia .one{ padding-right:0;}
.banner .xia .last{ padding-right:0;}
.page1 .top .title{ padding-top:21px; height:40px;}
.page1 .top .title h3{ float:left; height:40px; line-height:40px; font-size:20px; color:#333; font-weight:normal;}
.page1 .top .title .text{ float:left; width:225px; height:15px; background:url(../images/homebg.png) no-repeat 0 -100px; margin-top:13px; margin-left:5px;}
.page1 .top .title a{ float:right; display:block; height:20px; line-height:20px; font-size:12px; font-family:"宋体"; width:61px;background:url(../images/homebg.png) no-repeat -310px -5px; margin-top:12px; color:#666666;}
.page1 .top .title a:hover{ color:#b61d1d; background-position:-310px -29px;}
.page1 .top .ware{ width:1208px; height:231px; border:1px solid #ededed;}
.page1 .top .ware .ware_list{ text-align:center; float:left;}
.page1 .top .ware .ware_list .pic{ width:200px; height:160px;}
.page1 .top .ware .ware_list .pic img{ padding-top:38px;}
.page1 .top .ware .ware_list .money{ width:200px; height:62px; border-right:1px solid #ededed;}
.page1 .top .ware .ware_list .money a{ line-height:18px; font-size:12px; height:36px; width:130px; color:#666666;}
.page1 .top .ware .ware_list .money span{display:block; height:31px; line-height:31px; color:#b51d42; font-size:18px; width:120px;}
.page1 .top .ware .ware_list .money sub{ font-size:14px;}
.page1 .top .ware .ware_list .money a:hover{ color:#b61d1d;}
.page1 .top .ware .ware_list .last{ border-right:none;}
.page1 .mid .title{ height:34px;  padding-top:22px;}
.page1 .mid .title h3{ float:left; height:34px; line-height:34px; font-size:20px; color:#333; font-weight:normal;}
.page1 .mid .ware{ width:1208px; height:405px; border:1px solid #ededed;}
.page1 .mid .left{ width:1037px; float:left;}
.page1 .mid .left .top li{ float:left; height:247px;}
.page1 .mid .left .bot li{ float:left; height:158px;}
.page1 .mid .right{ width:171px; float:right;}
.page1 .mid .right .icon_l{ float:left; border-right:1px dashed #e0e0e0; width:85px; margin-top:13px; height:381px;}
.page1 .mid .right .icon_r{ float:right;}
.page1 .mid .right .icon_l ul{ margin-top:-13px;}
.page1 .mid .right .icon_l li{ border-bottom:1px dashed #e0e0e0; margin-left:11px;}
.page1 .mid .right .icon_l li a{display:block; font-size:0; text-align:center; margin-left:-11px; width:85px; height:57px;}
.page1 .mid .right .icon_r{ border-right:none;}
.page1 .mid .right .icon_r li{ margin-left:0; margin-right:11px;}
.page1 .mid .right .icon_r li a{ margin-left:0; margin-right:-11px;}
.page1 .bot{ padding-top:20px;}

.LocationFloorList{ position:fixed; top:100px; left:43%; margin-left:-520px; display:none}
.LocationFloorList li{ height:30px; line-height:30px; width:30px; font-size:12px; text-align:center; border-bottom:1px dashed #ccc; cursor:pointer;}
.LocationFloorList li b{ font-weight:normal}
.LocationFloorList li span{ display:none; font-size:12px;}
.LocationFloorList li.ac{ color:#fff; background:red}
.LocationFloorList li.ac b{ display:none;}
.LocationFloorList li.ac span{ display:inline}

.page2 .floor{ float:left; background:url(../images/product_home_1.0.0.png) no-repeat 0 -35px; width:31px; height:25px; color:#fff; font-size:13px; font-family:arial; line-height:25px; margin-top:2px;}
.page2 h3{ float:left; height:35px; line-height:35px; font-size:20px; color:#333; font-weight:normal; padding-left:9px;}
.page2 .nav{ height:35px; border-bottom:1px #c81623 solid; float:right; width:1210px;}
.page2 .nav ul{ float:right; height:34px; border:1px #ededed solid; border-bottom:none;}
.page2 .nav li{ float:left; position:relative; border:1px #fff solid;border-top:3px #fff solid; border-bottom:none; border-color:transparent; height:31px;}
.page2 .nav li a{ display:inline-block; height:31px; line-height:31px; padding:0 17px; font-size:13px; color:#666666;}
.page2 .nav li span{ width:1px; height:14px; background-color:#cccccc; position:absolute; right:-2px;top:10px;}
.page2 .nav li:hover span{ display:none;}
.page2 .nav .ac{border:1px #c81623 solid; border-top:3px #c81623 solid; border-bottom:1px #fff solid;}
.page2 .ware{ height:669px;}
.page2 .ware .zuo{ float:left; width:330px;}
.page2 .ware .zuo .top .pic{ width:330px; height:473px; position:relative;}
.page2 .ware .zuo .top .pic a{ height:473px; display:block;}
.page2 .ware .zuo .top .nav2{ margin-top:-220px; padding-left:25px; background:rgba(255,255,255,0.50); position:relative; height:92px;}
.page2 .ware .zuo .top .nav2 li{ float:left; padding:10px 0; width:100px; height:26px;}
.page2 .ware .zuo .top .nav2 li a{ display:block; padding-left:31px; font-size:13px; line-height:26px; background:url(../images/clothesicon.png) no-repeat; color:#666666;}
.page2 .ware .zuo .top .nav2 li a:hover{ color:#c81623;}
.page2 .ware .zuo .top .nav2 li .nv{ background-position:0 -26px;}
.page2 .ware .zuo .top .nav2 li .nei{ background-position:0 -52px;}
.page2 .ware .zuo .top .nav2 li .xie{ background-position:0 -78px;}
.page2 .ware .zuo .top .nav2 li .bao{ background-position:0 -104px;}
.page2 .ware .zuo .top .nav2 li .lv{ background-position:0 -130px;}
.page2 .ware .zuo .top .nav3{ padding:16px 0; height:96px; background:rgba(255,255,255,0.70); position:relative;}
.page2 .ware .zuo .top .nav_l{ width:118px; padding:0 17px 0 25px; float:left; height:96px;}
.page2 .ware .zuo .top .nav_l a{ margin-right:11px;float:left; color:#999; font-size:12px; line-height:24px; font-family:"宋体";}
.page2 .ware .zuo .top .nav_l .active{ color:#c81623;}
.page2 .ware .zuo .top .nav_l a:hover{ color:#c81623;}
.page2 .ware .zuo .bot{ width:328px; height:158px; border:1px solid #ededed; border-left:1px solid #f7f5ee;}
.page2 .ware .you{float:left;}
.page2 .ware .you .left{float:left;}
.page2 .ware .you .left1{width:439px;height:157px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;overflow:hidden;}
.page2 .ware .you .left2{width:439px;height:315px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;overflow:hidden;}
.page2 .ware .you .left3{width:439px;height:158px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;overflow:hidden;}
.page2 .ware .you .mid{float:left;}
.page2 .ware .you .mid li{width:219px;height:157px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;overflow:hidden;}
.page2 .ware .you .mid .last{height:158px;}
.page2 .ware .you .right .last{height:316px;}

.page2 .ware .you .f1_details_top{ width:880px; height:474px;}
.page2 .ware .you .f1_details_top li{ width:183px; height:205px; border-right:1px solid #ededed; border-bottom:1px solid #ededed; float:left; padding:21px 18px 10px 18px;}
.page2 .ware .you .f1_details_top li .pic{ font-size:0; text-align:center; height:130px; margin-bottom:14px;}
.page2 .ware .you .f1_details_top li p{ font-size:12px; font-family:"微软雅黑"; height:36px; width:183px; line-height:18px; overflow:hidden;}
.page2 .ware .you .f1_details_top li a{ color:#626262 ;}
.page2 .ware .you .f1_details_top li span{ font-size:14px; height: 25px; line-height:25px; color:#e8393c;}
.page2 .ware .you .f1_details_bot{ width:880px; height:159px;}
.page2 .ware .you .f1_details_bot li{ width:219px; height:158px; border-right:1px solid #ededed; border-bottom:1px solid #ededed; float:left; font-size:0;}




.page2 .icon{ margin-top:10px; background:#f7f7f7; padding:13px 0; height:40px; margin-bottom:22px;}
.page2 .icon li{ float:left; padding:0px 10px; border-right:1px dotted #ccc;}
.page2 .icon .last{ border-right:none;}
.page2 .icon li a{ display:block; height:40px; width:100px;}

.page3 .floor{ float:left; background:url(../images/product_home_1.0.0.png) no-repeat 0 -35px; width:31px; height:25px; color:#fff; font-size:13px; font-family:arial; line-height:25px; margin-top:2px;}
.page3 h3{ float:left; height:35px; line-height:35px; font-size:20px; color:#333; font-weight:normal; padding-left:9px;}
.page3 .nav{ height:35px; border-bottom:1px #c81623 solid; float:right; width:1210px;}
.page3 .nav ul{ float:right; height:34px; border:1px #ededed solid; border-bottom:none;}
.page3 .nav li{ float:left; position:relative; border:1px #fff solid;border-top:3px #fff solid; border-bottom:none; border-color:transparent; height:31px;}
.page3 .nav li:hover{ border:1px #c81623 solid; border-top:3px #c81623 solid; border-bottom:1px #fff solid;}
.page3 .nav li a{ display:inline-block; height:31px; line-height:31px; padding:0 17px; font-size:13px; color:#666666;}
.page3 .nav li span{ width:1px; height:14px; background-color:#cccccc; position:absolute; right:-2px;top:10px;}
.page3 .nav li:hover span{ display:none;}
.page3 .ware{height:510px;}
.page3 .ware .zuo{ float:left; width:210px;}
.page3 .ware .zuo .pic{ width:210px; height:474px; position:relative;}
.page3 .ware .zuo .pic img{ height:474px;}
.page3 .ware .zuo .nav2{ margin-top:-237px ; padding-left:10px; background:rgba(255,255,255,0.50); position:relative; height:92px;}
.page3 .ware .zuo .nav2 li{ float:left; padding:10px 0; width:98px; height:26px;}
.page3 .ware .zuo .nav2 li a{ display:block; padding-left:31px;background:url(../images/cosmeticsicon.png) no-repeat; font-size:13px; line-height:26px; font-family:"Microsoft YaHei"; color:#666666;}
.page3 .ware .zuo .nav2 li a:hover{ color:#c81623;}
.page3 .ware .zuo .nav2 li .ge{ background-position:0 -26px;}
.page3 .ware .zuo .nav2 li .mei{ background-position:0 -52px;}
.page3 .ware .zuo .nav2 li .guan{ background-position:0 -78px;}
.page3 .ware .zuo .bot{ padding:22px 20px 21px 25px; height:102px; background:rgba(255,255,255,0.70); position:relative; width:165px;}
.page3 .ware .zuo .bot p{ width:160px; height:24px; font-size:14px; line-height:24px; font-family:"Microsoft YaHei";}
.page3 .ware .zuo .bot p a{ color:#666666;}
.page3 .ware .zuo .bot p a:hover{ color:#c81623;}
.page3 .ware .zuo .bot .nav3{ width:165px; height:48px;}
.page3 .ware .zuo .bot .nav3 a{ margin-right:11px; float:left; color:#999; font-size:12px; line-height:24px; font-family:"宋体";}
.page3 .ware .zuo .bot .nav3 .active{ color:#c81623;}
.page3 .ware .zuo .bot .nav3 a:hover{ color:#c81623;}
.page3 .ware .you{ float:left;}
.page3 .ware .you .left{ float:left; border-right:1px solid #ededed; border-bottom:1px solid #ededed;}
.page3 .ware .you .left .top{width:339; height:296px; border-bottom:1px dotted #ededed;}
.page3 .ware .you .left .bot{width:339; height:176px;}
.page3 .ware .you ul{ float:left;}
.page3 .ware .you li{ float:left;}
.page3 .ware .you li .top{ width:219;height:296px; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.page3 .ware .you li .bot {width:219;height:176px; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.page3 .icon{ margin-top:10px; background:#f7f7f7; padding:13px 0; height:40px; margin-bottom:21px;}
.page3 .icon li{ float:left; padding:0px 10px; border-right:1px dotted #ccc;}
.page3 .icon .last{ border-right:none;}
.page3 .icon li a{ display:block; height:40px; width:100px;}

.page4 .floor{ float:left; background:url(../images/product_home_1.0.0.png) no-repeat 0 -35px; width:31px; height:25px; color:#fff; font-size:13px; font-family:arial; line-height:25px; margin-top:2px;}
.page4 h3{ float:left; height:35px; line-height:35px; font-size:20px; color:#333; font-weight:normal; padding-left:9px;}
.page4 .nav{ height:35px; border-bottom:1px #c81623 solid; float:right; width:1210px; padding-top:21px;}
.page4 .nav ul{ float:right; height:34px; border:1px #ededed solid; border-bottom:none;}
.page4 .nav li{ float:left; position:relative; border:1px #fff solid;border-top:3px #fff solid; border-bottom:none; border-color:transparent; height:31px;}
.page4 .nav li:hover{ border:1px #c81623 solid; border-top:3px #c81623 solid; border-bottom:1px #fff solid;}
.page4 .nav li a{ display:inline-block; height:31px; line-height:31px; padding:0 17px; font-size:13px; color:#666666;}
.page4 .nav li span{ width:1px; height:14px; background-color:#cccccc; position:absolute; right:-2px;top:10px;}
.page4 .nav li:hover span{ display:none;}
.page4 .ware{ height:531px;}
.page4 .ware .zuo{ float:left; width:330px;}
.page4 .ware .zuo .pic{ width:330px; height:474px; position:relative;}
.page4 .ware .zuo .pic img{ height:474px; width:330px;}
.page4 .ware .zuo .nav2{ margin-top:-237px; padding-left:25px; background:rgba(255,255,255,0.50); position:relative; height:46px;}
.page4 .ware .zuo .nav2 li{ float:left; padding:10px 0; width:98px; height:26px;}
.page4 .ware .zuo .nav2 li a{ display:block; padding-left:31px; font-size:13px; line-height:26px; font-family:"Microsoft YaHei"; background:url(../images/mobilesicon.png) no-repeat; color:#666666;}
.page4 .ware .zuo .nav2 li a:hover{ color:#c81623;}
.page4 .ware .zuo .nav2 li .icon2{ background-position:0 -26px;}
.page4 .ware .zuo .nav2 li .icon3{ background-position:0 -52px;}
.page4 .ware .zuo .bot{ padding:22px 0px 19px 25px;height:150px; background:rgba(255,255,255,0.70); position:relative;}
.page4 .ware .zuo .bot_l{ float:left; width:145px; margin-right:15px;}
.page4 .ware .zuo .bot_r{ margin-right:0px;}
.page4 .ware .zuo .bot_l p{ width:135px; height:24px; font-size:14px; line-height:24px; font-family:"Microsoft YaHei";}
.page4 .ware .zuo .bot_l p a{ color:#666666;}
.page4 .ware .zuo .bot_l p a:hover{ color:#c81623;}
.page4 .ware .zuo .bot_l .nav3{ width:145px; height:96px;}
.page4 .ware .zuo .bot_l .nav3 a{ margin-right:11px; font-size:12px; line-height:24px; font-family:"宋体"; float:left;color:#999;}
.page4 .ware .zuo .bot_l .nav3 .active{ color:#c81623;}
.page4 .ware .zuo .bot_l .nav3 a:hover{ color:#c81623;}
.page4 .you{ float:left;}
.page4 .you .left{ float:left; width:440px;}
.page4 .you .left_top{ width:439px; height:237px; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.page4 .you .left_bot li{ float:left; width:219px; height:236px; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.page4 .you .right{ float:left; width:440px;}
.page4 .you .right_top li{ float:left; width:219px; height:117px; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.page4 .you .right_bot li{ float:left; width:219px; height:237px; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}

.page4 .icon{ margin-top:10px; background:#f7f7f7; padding:13px 0; height:40px; margin-bottom:21px;}
.page4 .icon li{ float:left; padding:0px 10px; border-right:1px dotted #ccc;}
.page4 .icon .last{ border-right:none;}
.page4 .icon li a{ display:block; height:40px; width:100px;}














